page-discussion {
    .me{
        float:right;
        text-align: right;
        background: lightgrey;
    }
    .others{
        float:left;
        text-align: left;
        background: aliceblue;
    }
}
